@using WebApp.DataTransferObject
@model PaginationViewModel

@{
    Layout = "_UserLayout";
}

<form class="p-3 d-flex" asp-controller="User" asp-action="SearchByCourseType">
    <div class="w-25">
        <label class="form-label">Filter by course type: </label>
        <select class="form-select custom-select shadow-none" data-bs-theme="dark" name="courseTypeId">
            <option selected disabled="disabled" value="">Select...</option>
            @foreach (var ct in ViewBag.CourseTypes as List<CourseTypeDTO>)
            {
            <option value="@ct.IdCourseType">@ct.CourseTypeTitle</option>
            }
        </select>
    </div>
    <div class="ms-3">
        <label class="form-label">Content Per Page: </label>
        <select class="form-select shadow-none w-50" data-bs-theme="dark" name="contentPerPage">
            <option selected disabled="disabled" value="">N</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
        </select>
    </div>
    <div class="ms-5 d-flex align-items-end">
        <button type="reset" class="btn btn-outline-danger">Reset</button>
        <button type="submit" class="btn btn-outline-info ms-3">Submit</button>
    </div>
</form>

<div class="container mt-5">
    <div class="row">
        @foreach (var course in @Model.Courses)
        {
            <div class="col-md-3 mb-4" data-bs-theme="dark">
                <div class="card" style="width: 100%; height: 100%">
                    <div class="card-body d-flex justify-content-between flex-column">
                        <h5 class="card-title secondary-color fw-bold">@course.CourseTitle</h5>
                        <p class="card-text fw-bold">@course.CourseTypeTitle</p>
                        <div>
                            @* TODO: Add tag support *@
                        </div>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-outline-info w-50 mt-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop-@course.IdCourse">
                            Enroll
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="staticBackdrop-@course.IdCourse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-bs-theme="dark">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">@course.CourseTitle</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Do you really want to enroll this course?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            @* TODO: This button should lead to the complete course view *@
                            <a type="button" class="btn btn-primary" asp-controller="Course" asp-action="ViewAndEnroll" asp-route-courseID="@course.IdCourse">Enroll</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="pagination d-flex align-items-center justify-content-center" data-bs-theme="dark">
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("SearchByCourseType", new { courseTypeId = Model.CourseTypeId, page = Model.CurrentPage - 1, contentPerPage = Model.ContentPerPage })">Previous</a>
                </li>
            }

            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("SearchByCourseType", new { courseTypeId = Model.CourseTypeId, page = i, contentPerPage = Model.ContentPerPage })">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="@Url.Action("SearchByCourseType", new { courseTypeId = Model.CourseTypeId, page = Model.CurrentPage + 1, contentPerPage = Model.ContentPerPage })">Next</a>
                </li>
            }
        </ul>
    </div>
</div>

